.landingPage #skullLogo {
  margin-top: 40px;
  margin-bottom: auto;
}

.landingPage span {
  width: 95%;
  max-width: 230px;
  padding: 15px 20px;
  border-radius: 25px;

  letter-spacing: 4px;

  background-color: red;
  color: white;
  margin: 30px auto 0;
  font-family: var(--GothamBook);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.glowing-border {
  border: 2px solid red;
  border-radius: 8px;
  position: relative;
  animation: glowing 2s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px red;
  }
  50% {
    box-shadow: 0 0 20px red, 0 0 40px red;
  }
  100% {
    box-shadow: 0 0 5px red;
  }
}
