.scoreCard_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.scoreCard_content_container {
  width: 100vw;
  height: fit-content;
  position: relative;
}
@media screen and (max-width: 280px) {
  .scoreCard_container .altLogo {
    width: 100vw;
    margin-top: -80px;
  }
}
.scoreCard_container h1 {
  margin-top: -70px;
}

/* score card */
.scoreCard_container .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 0.65fr) repeat(6, 5fr);

  /* background-color: gainsboro; */

  font-family: var(--GothamBook);
}
.scoreCard_container .grid-items {
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid white;
}

.scoreCard_container .hole {
  width: 50px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: blue;
  color: white;

  font-size: 14px;
}
.scoreCard_container .par {
  width: 50px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: red;
  color: white;

  font-size: 14px;
}
.scoreCard_container .th {
  height: 40px;

  display: block;
  line-height: 40px;

  padding: 0 5px;

  background-color: white;
  text-transform: uppercase;
  overflow-y: hidden;
  overflow-x: scroll;
  text-align: center;
}
.scoreCard_container .dark-blue {
  background-color: #0089b7;
  opacity: 0.6;
  color: white;
  border-right: 1px solid white;
}

.scoreCard_container .light-blue {
  background-color: #00bfff;
  opacity: 0.6;
  color: white;
  border-right: 1px solid white;
}
.score-row {
  background-color: white;
}

/* popup */
.scoreCard_container .popup_content {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: unset;
}
.scoreCard_container .score {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: red;
  color: white;

  border-radius: 50%;

  position: absolute;
}

/* dots */
.scoreCard_container .score:nth-child(2) {
  top: 45px;
  left: 125px;
}
.scoreCard_container .score:nth-child(3) {
  top: 80px;
  left: 195px;
}
.scoreCard_container .score:nth-child(4) {
  top: 160px;
  left: 195px;
}
.scoreCard_container .score:nth-child(5) {
  top: 200px;
  left: 125px;
}
.scoreCard_container .score:nth-child(6) {
  top: 160px;
  left: 55px;
}
.scoreCard_container .score:nth-child(7) {
  top: 80px;
  left: 55px;
}

.scoreCard_container .backgroundImg {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  object-fit: cover;
  object-position: center;
}
