/* form styling */

.players_name_container .form_content h1 {
  margin-bottom: 20px;
}
.players_name_container .inputContainer {
  width: 90%;
  height: 70px;

  display: flex;
  align-items: center;

  position: relative;
  margin-right: auto;
}
.players_name_container .inputContainer:not(:last-child) {
  margin-bottom: 10px;
}

.players_name_container .inputContainer input {
  width: 100%;
  height: 40px;

  text-align: center;

  border-radius: 0px 20px 20px 0px;
  border: none;

  cursor: pointer;
  padding: 0 0 0 20%;
}

.players_name_container .inputContainer input::placeholder {
  text-transform: uppercase;
}
.players_name_container .inputContainer .flagContainer {
  width: 135px;
  height: 100%;

  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: -6px;
  z-index: 1;
}
.players_name_container .inputContainer .flagContainer img {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;
}
.players_name_container.inputContainer .flagContainer .player_list_container {
  display: flex;
  align-items: center;
}
.players_name_container .inputContainer .flagContainer .player {
  opacity: 0.6;
  color: white;
  font-family: var(--BlackPerl);
  background-color: unset;
  margin: unset;
  margin-right: 10px;
  margin-left: 15px;
}
.players_name_container .inputContainer .flagContainer .number {
  color: white;
  font-family: var(--BlackPerl);
  background-color: unset;
  margin: unset;
  font-size: 25px;
}

@media screen and (max-width: 280px) {
  .players_name_container .inputContainer .flagContainer img {
    width: 115px;
  }
  .players_name_container .inputContainer .flagContainer .player {
    margin-right: 5px;
  }
  .players_name_container .inputContainer {
    width: 95%;
  }
}
